<div class="navbar d-flex flex-column flex-md-row justify-content-between align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">
    <img class="my-0 mr-md-auto logo" src="../../../assets/img/logo.png">
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-3 text-dark" href="#">Cours</a>
        <a class="p-3 text-dark" href="#">Evénement</a>
        <a class="p-3 text-dark" href="#">A propos</a>
        <a class="p-3 text-dark" href="#">CGU</a>
        <a class="p-3  text-dark" href="#">Connexion</a>
        <button class="btn btn-register ">
            Inscription
        </button>
    </nav>
</div>