<body>
    <div class="sidebar">
        <a href="/"><img src="../../../assets/img/logo1.png" alt="" class="logo"></a>
        <button class="dropdown-btn" (click)="toggle()">
            Module Cours<img src="../../../assets/img/dropdwon.png" class="imgdd">
        </button>
        <div class="mt-5 row" [ngClass]="dropdown">
            <ul style="margin-top: 27%;">
                <li routerLink="/space-cours">
                    <img src="../../../assets/img/i-liste.png" alt="" >
                    <p class="ml-2" >
                        Gestion cours
                    </p>
                </li>
                <li>
                    <img src="../../../assets/img/i-add.png" alt="">
                    <p  class="ml-2" >
                        Historique
                    </p>
                </li>
                <li>
                    <img src="../../../assets/img/i-stat.png" alt="">
                    <p  class="ml-2" >
                        Stats
                    </p>
                </li>
            </ul>
        </div>
        <div class="row mt-3">

        </div>
        <button class="dropdown-btn mt-5"  (click)="_toggle()">
            Module Evenement<img src="../../../assets/img/dropdwon.png" class="imgdd">
        </button>
        <div class="row mt-5" [ngClass]="_dropdown" >
            <ul style="margin-top: 50%;">
                <li class="mt-5">
                    <img src="../../../assets/img/i-liste.png" alt="" >
                    <p class="ml-2" >
                        gestion evenement
                    </p>
                </li>
                <li>
                    <img src="../../../assets/img/i-add.png" alt="">
                    <p class="ml-2" >
                        Historique
                    </p>
                </li>
                <li>
                    <img src="../../../assets/img/i-inscrit.png" alt="">
                    <p  class="ml-2" >
                        Inscrits
                    </p>
                </li>
            </ul>
        </div>     
        <a class="row text-center p-3  flex" style="margin-top: 100%; width: 190px;">
            <div class="flex-1">
                <img src="../../../assets/img/logout.png" alt="" style="width: 20px;">
            </div>
            <div class="flex-1">
                <p (click)="logout()" class="flex-1 h6" style="color: #fff">
                    deconnexion
                </p>
            </div>
        </a>
    </div>
</body>