<body>
    <div class="sidebar">
        <img src="../../../assets/img/logo.png" alt="" class="logo" routerLink="/">
        <button class="dropdown-btn" (click)="toggle()">
            Dropdown<img src="../../../assets/img/dropdwon.png" class="imgdd">
        </button>
        <div class="mt-5 row" [ngClass]="dd">
            <ul style="margin-top: 27%;">
                <li>
                    <img src="../../../assets/img/i-liste.png" alt="" >
                    <a class="ml-2" routerLink="/space-cours">
                        Cours
                    </a>
                </li>
                <li>
                    <img src="../../../assets/img/i-add.png" alt="">
                    <a  class="ml-2" href="">
                        Ajouter cour
                    </a>
                </li>
                <li>
                    <img src="../../../assets/img/i-stat.png" alt="">
                    <a  class="ml-2" href="">
                        Stats
                    </a>
                </li>
            </ul>
        </div>
        <div class="row mt-3">

        </div>
        <button class="dropdown-btn mt-5"  (click)="_toggle()">
            Dropdown<img src="../../../assets/img/dropdwon.png" class="imgdd">
        </button>
        <div class="row mt-5" >
            <ul style="margin-top: 50%;" [ngClass]="_dd">
                <li class="mt-5">
                    <img src="../../../assets/img/i-liste.png" alt="" >
                    <a class="ml-2" href="">
                        Evenements
                    </a>
                </li>
                <li>
                    <img src="../../../assets/img/i-add.png" alt="">
                    <a  class="ml-2" href="">
                        Ajouter evnmnt
                    </a>
                </li>
                <li>
                    <img src="../../../assets/img/i-inscrit.png" alt="">
                    <a  class="ml-2" href="">
                        Inscrits
                    </a>
                </li>
            </ul>
        </div>   
        
    <a class="row text-center p-3  flex" style="margin-top: 100%; width: 190px;">
        <div class="flex-1">
            <img src="../../../assets/img/logout.png" alt="" style="width: 20px;">
        </div>
        <div class="flex-1">
            <p class="flex-1 h6">
                deconnexion
            </p>
        </div>
    </a>
    </div>


    <!-- content -->
    <div class="content">
        <nav class="bg-gray-800">
            <div class="flex">
                <div class="w-1/5 bg-yellow-500 h-12">
                    
                </div>
                <div class="w-3/5 bg-red-400 h-12">

                </div>
                <div class="w-1/5 bg-gray-500 h-12">

                </div>
            </div>
        </nav>
        <div class="flex w-full">   
            <div href="#" class="ml-1 mr-1 flex-1 block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <p class="font-normal text-center text-gray-700 dark:text-gray-400">Cours publiés</p>
                <h5 class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white">60</h5>
            </div>
            <div href="#" class="ml-1 mr-1 flex-1 block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <p class="font-normal text-center text-gray-700 dark:text-gray-400">Note globale</p>
                <h5 class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white">60</h5>
            </div>
            <div href="#" class="ml-1 mr-1 flex-1 block p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <p class="font-normal  text-center text-gray-700 dark:text-gray-400">Evenement publié</p>
                <h5 class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white">60</h5>
            </div>
        </div>
    </div>
</body>