
   
        <div class="container-fluid sub-footre">
            <div class="row ">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="contact">
                        <div class="h1">
                            Nous <br> Contacter
                        </div>
                        <div class="input">
                            <form action="" class="form">
                                <input type="text" name="message" id="message" placeholder="Vos avis comptent">
                                <button class="btn btn-dark btn-form w-25 mt-3">
                                    envoyer
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                   <div class="image">
                        <img src="../../../assets/img/Letter.png" alt="">
                   </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer">
                <div class="img-rs">
                    <img src="../../../assets/img/facebook.png" alt="">
                    <img src="../../../assets/img/twitter-alt.png" alt="">
                    <img src="../../../assets/img/youtube.png" alt="">
                </div>
                <div class="p mt-5">
                    <p class="text-light">
                        © Copyright 2022- Libscode
                    </p>
                </div>
            </div>    
        </div>
