
   
        <div class="container-fluid sub-footre">
            <div class="row ">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="contact">
                        <div class="h1">
                            Nous <br> Contacter
                        </div>
                        <div class="input">
                            <label for="message">Vos avis comptent</label>
                            <input type="text" name="message">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                   <div class="image">
                        <img src="../../../assets/img/Letter.png" alt="">
                   </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row footer">

            </div>    
        </div>
