<body>
    <app-header></app-header>
    <div class="container-fluid login-body">
        <div class="form">
            <h1>
                Connexion
            </h1>
            <form action="">
                <div class="form-group mt-3">
                    <input type="mail" name="email" placeholder="Entrez votre email">
                </div>
                <div class="form-group mt-3">
                    <input type="password" name="password" placeholder="Entrez votre mot de passe">
                </div>
                <div class="form-group mt-3">
                    <a href="#" class="forget-password-link">Mot de passe oublié ?</a>
                </div>
                <button class="btn btn-login mt-3">
                    Connexion
                </button>
            </form>
        </div>
    </div>
    </body>