<carousel>

    <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>  <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>  
    <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="h4">
            titre de l'événement
        </div>
        <div class="date">
            <p>12/05/2021 9h:30</p>
        </div>
    </div>
</carousel>