/* body{
    height: 100vh;
    background-color: #AAEBFF;
} */
.form{
    margin: 4% auto;
    background-color: #fff;
    padding: 4%;
    width: 40%;
    border-radius: 13px;
    border: 1px rgb(255, 215, 82) solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:  7px 10px 8px   rgba(9, 9, 9, 0.055)
}
   

.btn-login{
    background-color: #ffd550;
    border-radius: 13px;
}
input{
    border-radius: 13px;
    width: 80%;
    padding: 2%;
    border: 1px #4e4e4e solid;
}
input::placeholder{
    font-family: 'sen', sans-serif;
    font-size: 14px;
    padding: 3%;
}

.forget-password-link
{
    color: #ffd550;
    text-decoration: none;

}