<body>
    <div class="sidebar">
        <a href="/"><img src="../../../assets/img/logo1.png" alt="" class="logo"></a>
        <button class="dropdown-btn" (click)="toggle()">
            Dropdown<img src="../../../assets/img/dropdwon.png" class="imgdd">
        </button>
        <div class="mt-5 row" [ngClass]="dropdown">
            <ul style="margin-top: 27%;">
                <li routerLink="/space-cours">
                    <img src="../../../assets/img/i-liste.png" alt="" >
                    <a class="ml-2" href="/space-cours">
                        Cours
                    </a>
                </li>
                <li>
                    <img src="../../../assets/img/i-add.png" alt="">
                    <a  class="ml-2" href="/space-cours-add">
                        Ajouter cour
                    </a>
                </li>
                <li>
                    <img src="../../../assets/img/i-stat.png" alt="">
                    <a  class="ml-2" href="">
                        Stats
                    </a>
                </li>
            </ul>
        </div>
        <div class="row mt-3">

        </div>
        <button class="dropdown-btn mt-5"  (click)="_toggle()">
            Dropdown<img src="../../../assets/img/dropdwon.png" class="imgdd">
        </button>
        <div class="row mt-5" [ngClass]="_dropdown" >
            <ul style="margin-top: 50%;">
                <li class="mt-5">
                    <img src="../../../assets/img/i-liste.png" alt="" >
                    <a class="ml-2" href="/space-event">
                        Evenements
                    </a>
                </li>
                <li>
                    <img src="../../../assets/img/i-add.png" alt="">
                    <a class="ml-2" href="/space-event">
                        Ajouter evnmnt
                    </a>
                </li>
                <li>
                    <img src="../../../assets/img/i-inscrit.png" alt="">
                    <a  class="ml-2" href="/space-liste-inscrit">
                        Inscrits
                    </a>
                </li>
            </ul>
        </div>     
        <a class="row text-center p-3  flex" style="margin-top: 100%; width: 190px;">
            <div class="flex-1">
                <img src="../../../assets/img/logout.png" alt="" style="width: 20px;">
            </div>
            <div class="flex-1">
                <p class="flex-1 h6" (click)="logout()">
                    deconnexion
                </p>
            </div>
        </a>
    </div>
</body>