body{
    height: 100vh;
    background-color: #AAEBFF;
}
.form{
    margin: 3% auto;
    background-color: #fff;
    padding: 2%;
    width: 40%;
    border-radius: 20px;
    border: 1px #ffd550 solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.btn-login{
    background-color: #ffd550;
    border-radius: 20px;
}
input{
    border-radius: 20px;
    width: 80%;
    padding: 2%;
}
input::placeholder{
    font-family: 'sen', sans-serif;
    font-size: 14px;
    padding: 3%;
}

.forget-password-link
{
    color: #ffd550;
    text-decoration: none;

}