    <app-header></app-header>
   <div class="container-fluid">
    <div class="row section-1 d-flex flex-column-reverse flex-md-row justify-content-between align-items-center p-3 px-md-4 mb-3" style="margin-top: 9%;">
        <div class="sectiont col-sm-12 col-md-6 col-lg-6">
            <p class="h1 section-1-titre p-3">
                Plateforme  d’apprentissage  <br> et de  partage
            </p>
            <div class="section-1-btn d-flex flex-md-row justify-content-between align-items-center mt-5">
                <p class="section-1-p">Comment s' y prendre</p>
                <button class="btn btn-dark section-1-btn-plus" routerLink="/cgu">
                    En savoir plus
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 img gif-img">
            <img class="section-1-gif" src="../../../assets/img/section-1.gif" alt="" style="opacity: 40%;">
        </div>
    </div>   
   </div>
   <div class="section bg-white p-5" style="margin-top: -14px;">
     <app-cards></app-cards>
   </div>
   
   <div class="section">
        <p class="h2 titre-section  ml-5">
            Pour plus de détails, visitez nos  Conditions <br> Générales d’utilisation.
        </p>
        <a href="" class="h4 cgu">
            CGU
        </a>
   </div>
   <!-- Demande Formateur -->
   <ng-template #demande let-modal class="modale bg-danger">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Devenir Formateur</h4>
            <button type="button" class="btn-close bg-yellow" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                <label for="dateOfBirth">Votre motivation</label>
                <div class="input-group">
                    <textarea name="motivation" id="" cols="60" rows="5"></textarea>
                </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </ng-template>
  
  <!-- Partage Evenement -->
  <ng-template #partage let-modal class="modale">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Partager un événement</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <input type="text" placeholder="titre de l'événement">
                </div>
                <div class="mb-3">
                    <textarea name="" id="" cols="50" rows="3" placeholder="Donner une description à l'événement"> </textarea>
                </div>
                <div class="mb-3">
                    <label for="dateOfBirth">Date de l'événement</label>
                    <div class="input-group">
                        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </ng-template>
  

   <div class="section section-acordeon mt-5">
        <div class="one">
            <div class="titre-acordeo-section" (click)="_acordeon()">
                <h3 class="accordion-titre h3" >Comment devenire formateur ?</h3>
                <img src="../../../assets/img/flecheacordeon.png" alt="" class="acordeon-img" [ngClass]="acordeonImage"/>
            </div>
            <div class="panel p-4" [ngClass]="acordeon1">
                <p class="panel-p">
                    Avant de pouvoir  partager un cours, il va falloir faire une demande à l’admin, qui va a son tours étudier et valider ou non la demande. Une fois validé vous aurez le rôle créateurs et un espace pour rédiger, partager, évaluer et faire le suivi de votre cours
                </p>
                <img src="../../../assets/img/plus.png" alt="" class="image-panel mt-5" (click)="open(demande)">
            </div>
        </div>
        <div class="two">
            <div class="titre-acordeo-section" (click)="__acordeon()">
                <h3 class="accordion-titre h3" >Partager un événement ?</h3>
                <img src="../../../assets/img/flecheacordeon.png" alt="" class="acordeon-img" [ngClass]="acordeonImageTwo"/>
            </div>
            <div class="panel p-4" [ngClass]="acordeon2">
                <p class="panel-p">
                    Chaque utilisateur peut partager des événements. Cependant les événeme nts qui seront validé par l’administrateurs seront sans doute être prienté vers l’informatique et la technologie
                </p>
                <img src="../../../assets/img/plus.png" alt="" class="image-panel mt-5" (click)="open(partage)">
            </div>
        </div>
        <div class="three">
            <div class="titre-acordeo-section" (click)="___acordeon()">
                <h3 class="accordion-titre h3" >Acceder à mon space  ?</h3>
                <img src="../../../assets/img/flecheacordeon.png" alt="" class="acordeon-img" [ngClass]="acordeonImageThree"/>
            </div>
            <div class="panel p-4" [ngClass]="acordeon3">
                <p class="panel-p">
                    Avant de pouvoir  partager un cours, il va falloir faire une demande à l’admin, qui va a son tours étudier et valider ou non la demande. Une fois validé vous aurez le rôle créateurs et un espace pour rédiger, partager, évaluer et faire le suivi de votre cours
                </p>
                <img src="../../../assets/img/plus.png" alt="" class="image-panel mt-5">
            </div>
        </div>
   </div>
   <div class="section section-events-recentn mt-3 p-5" style="background-color: #FCFCFC">
    <div class="section mt-4">
        <p class="h2 titre-section  ml-5">
            Les événements récents
        </p >
   </div>
        <app-recent-events></app-recent-events>
   </div>
   <a routerLink="/events" class=" all-events mb-5 ">
        <img class="img-plus" src="../../../assets/img/plus.png" alt="">voirs plus
   </a>
   <div class="section" style="margin-top: 15%;">
        <p class="h2 titre-section  ml-5">
            Une aperçu de nos cours
        </p>
    </div>
    <div class="section section-events-recentn p-3">
        <app-recent-cours></app-recent-cours>
   </div>
   <a routerLink="/allcours" class=" all-cours mb-5 ">
        <img class="img-plus" src="../../../assets/img/plus.png" alt="">voirs plus
    </a>
   <footer class="mt-5">
       <app-footer></app-footer>
   </footer>


