    <app-header></app-header>
   <div class="container-fluid">
    <div class="row section-1  d-flex flex-column-reverse flex-md-row justify-content-between align-items-center p-3 px-md-4 mb-3">
        <div class="sectiont col-sm-12 col-md-6 col-lg-6">
            <p class="h1 section-1-titre p-3">
                Plateforme <br> d’apprentissage et <br> de  partage
            </p>
            <div class="section-1-btn d-flex flex-md-row justify-content-between align-items-center mt-5">
                <p class="section-1-p">Comment s' y prendre</p>
                <button class="btn btn-dark section-1-btn-plus" routerLink="/cgu">
                    En savoir plus
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 img gif-img">
            <img class="section-1-gif" src="../../../assets/img/section-1.gif" alt="" style="opacity: 40%;">
        </div>
    </div>   
   </div>
   <div class="section">
     <app-cards></app-cards>
   </div>
   
   <div class="section">
        <p class="h2 titre-section  ml-5">
            Pour plus de détails, visitez nos  Conditions <br> Générales d’utilisation.
        </p>
        <a href="" class="h4 cgu">
            CGU
        </a>
   </div>
   <div class="section section-acordeon mt-5">
        <div class="one">
            <div class="titre-acordeo-section" (click)="_acordeon()">
                <h3 class="accordion-titre h3" >Comment devenire formateur ?</h3>
                <img src="../../../assets/img/flecheacordeon.png" alt="" class="acordeon-img" [ngClass]="acordeonImage"/>
            </div>
            <div class="panel p-4" [ngClass]="acordeon1">
                <p class="panel-p">
                    Avant de pouvoir  partager un cours, il va falloir faire une demande à l’admin, qui va a son tours étudier et valider ou non la demande. Une fois validé vous aurez le rôle créateurs et un espace pour rédiger, partager, évaluer et faire le suivi de votre cours
                </p>
                <img src="../../../assets/img/plus.png" alt="" class="image-panel mt-5">
            </div>
        </div>
        <div class="two">
            <div class="titre-acordeo-section" (click)="__acordeon()">
                <h3 class="accordion-titre h3" >Comment devenire formateur ?</h3>
                <img src="../../../assets/img/flecheacordeon.png" alt="" class="acordeon-img" [ngClass]="acordeonImageTwo"/>
            </div>
            <div class="panel p-4" [ngClass]="acordeon2">
                <p class="panel-p">
                    Avant de pouvoir  partager un cours, il va falloir faire une demande à l’admin, qui va a son tours étudier et valider ou non la demande. Une fois validé vous aurez le rôle créateurs et un espace pour rédiger, partager, évaluer et faire le suivi de votre cours
                </p>
                <img src="../../../assets/img/plus.png" alt="" class="image-panel mt-5">
            </div>
        </div>
        <div class="three">
            <div class="titre-acordeo-section" (click)="___acordeon()">
                <h3 class="accordion-titre h3" >Comment devenire formateur ?</h3>
                <img src="../../../assets/img/flecheacordeon.png" alt="" class="acordeon-img" [ngClass]="acordeonImageThree"/>
            </div>
            <div class="panel p-4" [ngClass]="acordeon3">
                <p class="panel-p">
                    Avant de pouvoir  partager un cours, il va falloir faire une demande à l’admin, qui va a son tours étudier et valider ou non la demande. Une fois validé vous aurez le rôle créateurs et un espace pour rédiger, partager, évaluer et faire le suivi de votre cours
                </p>
                <img src="../../../assets/img/plus.png" alt="" class="image-panel mt-5">
            </div>
        </div>
   </div>
   <div class="section section-events-recentn mt-3 p-5" style="background-color: #FCFCFC">
    <div class="section mt-4">
        <p class="h2 titre-section  ml-5">
            Les événements récents
        </p >
   </div>
        <app-recent-events></app-recent-events>
   </div>
   <div class="all-events mb-5">
    <span>voirs plus</span><img class="img-plus" src="../../../assets/img/plus.png" alt="">
   </div>
   <div class="section" style="margin-top: 15%;">
        <p class="h2 titre-section  ml-5">
            Une aperçu de nos cours
        </p>
    </div>
    <div class="section section-events-recentn p-3">
        <app-recent-cours></app-recent-cours>
   </div>
   <div class="all-cours mb-5">
        <span>voirs plus</span><img class="img-plus" src="../../../assets/img/plus.png" alt="">
   </div>
   <footer class="mt-5">
       <app-footer></app-footer>
   </footer>


