    <app-header></app-header>
   <div class="container-fluid">
    <div class="row section-1  d-flex flex-column-reverse flex-md-row justify-content-between align-items-center p-3 px-md-4 mb-3">
        <div class="sectiont col-sm-12 col-md-6 col-lg-6">
            <p class="h1 section-1-titre p-3">
                Plateforme <br> d’apprentissage et <br> de  partage
            </p>
            <div class="section-1-btn d-flex flex-md-row justify-content-between align-items-center mt-5">
                <p class="section-1-p">Comment s' y prendre</p>
                <button class="btn btn-dark section-1-btn-plus">
                    En savoir plus
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 img">
            <img class="section-1-gif" src="../../../assets/img/section-1.gif" alt="">
        </div>
    </div>
   </div>
   <div class="section">
     <app-cards></app-cards>
   </div>
   