textarea{
    border: 1px #6b6b6b solid; 
    border-radius: 12px;
}
.modale{
    background-color: #A9A9A9 !important;
}
.section-1{
    height: auto;
    padding: 05% !important;
    position: relative;
}

.section-1-titre{
    color: #000000;
    font-family: 'sen';
    font-size: 30px !important;
    margin-top: -10%;
}
.section-1-gif{
    width: 600px;
    height: 300px;
    border-radius: 20px;
}
.section-1-btn{
    padding: 3%;
    width: 350px;
    border-radius: 19px;
    background-color: #AAEBFF;
    margin-left: 3%;
    border: 1px #FFD550 solid;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 13px -10px 0px -30px rgba(15,15,15,0); 
    box-shadow: 0px 10px 13px -7px #a2a2a2, 13px -10px 0px -30px rgba(15,15,15,0);

}
.section-1-p{
    margin-top: 3%;
    font-family: 'sen' sans-serif;
}
.section-1-btn-plus{
    border-radius: 15px;
    font-family: 'sen' sans-serif;
    font-weight: bolder;
    padding: 2%;
    background-color: #FFD550;
}
.titre-section
{
    font-family: 'sen' sans-serif;
    font-size: 24px;
    font-weight: bolder;
    line-height: 30px;
    margin-left: 5%;
    margin-top: 10%;
    color: #FFD550;
}
.cgu{
    text-decoration: none;
    color: #AAEBFF;
    font-family: 'sen' sans-serif;
    margin-left: 5%;
}
.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.panelvisible{
    display: block;
    padding: 3%;
    margin: 0 auto;
    text-align: justify;
    text-justify: auto;
    margin-top: 2%;
}
.section-acordeon{
    display: flex ;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}
.titre-acordeo-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
    cursor: pointer;
}
.one{
    padding: 2%;
    background-color: #AAEBFF;
    height: auto;
    border-radius: 20px;
    border: 1px #FFD550 solid;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 13px -10px 0px -30px rgba(15,15,15,0); 
    box-shadow: 0px 10px 13px -7px #ffd65030, 13px -10px 0px -30px rgba(15,15,15,0);

}
.one:hover{
    margin-left: 3%;
    transition: 1s;
}
.two{
    padding: 2%;
    border: 1px #A9A9A9 solid;
    background-color: #AAEBFF;
    height: auto;
    border-radius: 20px;
    margin-top: 5%;
    border: 1px #FFD550 solid;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 13px -10px 0px -30px rgba(15,15,15,0); 
    box-shadow: 0px 10px 13px -7px #ffd65030, 13px -10px 0px -30px rgba(15,15,15,0);

}
.two:hover{
    margin-left: 3%;
    transition: 1s;
}
.three{
    padding: 2%;
    border: 1px #A9A9A9 solid;
    background-color: #AAEBFF;
    height: auto;
    border-radius: 20px;
    margin-top: 5%;
    border: 1px #FFD550 solid;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 13px -10px 0px -30px rgba(15,15,15,0); 
    box-shadow: 0px 10px 13px -7px #ffd65030, 13px -10px 0px -30px rgba(15,15,15,0);
}
.three:hover{
    margin-left: 3%;
    transition: 1s;
}
.accordion-titre{
    font-family: 'sen' sans-serif;
    font-size: 20px;
}
.acordeon-img{
    width: 60px;
    height: 60px;
}
.rotateimage{
    transform:rotate(180deg);
    transform: 2s;
}
.panel-p{
    width: 60%;
    float: left;
    
}
.image-panel{
    width: 60px;
    height: 60px;
    float: right;
    margin-top: 17% !important;
    cursor: pointer;
}
.all-events{
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    color: #AAEBFF;
    
}
.all-cours{
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    height: auto; 
    color: #AAEBFF;
}
.img-plus{
    width: 50px !important;
    height: 50px !important;
    cursor: pointer;
}
.img-plus:hover{
    width: 54px !important;
    height: 54px !important;
    cursor: pointer;
    transition: 1s;
}
span{
    color: aqua;
    font-weight: bolder;
}









@media screen and (max-width: 700px) {
    .section-1{
        background-color: #d9d9d93b;
        height: auto !important;
        margin-top: -16px !important;
    }
    .section-1-gif{
        width: 85% !important;
        margin: 0 auto !important;
        height: 300px !important;
        border-radius: 20px;
    }
    .section-1-titre{
        font-weight: bolder;
        color: #000000;
        font-size: 20px !important;
        margin-top: 10%;
        margin: 0 auto !important;
    }
    .section-1-gif{
        width: 600px;
        height: 450px;
        border-radius: 20px;
    }
    .section-1-btn{
        padding: 2%;
        margin-top: -1% !important;
        width: 220px;
        border-radius: 15px;
        background-color: #AAEBFF;
    }
    .section-1-p{
        margin-top: 3%;
        font-family: 'sen' sans-serif;
        font-size: 12px;
    }
    .section-1-btn-plus{
        border-radius: 10px;
        font-family: 'sen' sans-serif !important;
        font-size: 8px;
        padding: 3%;
    }
    .titre-section
    {
    font-family: 'sen' sans-serif;
    font-size: 20px;
    font-weight: bolder;
    line-height: 60px;
    }
.section-acordeon{
    width: 80%;
    margin: 0 auto;
    }

  }