
    <div class="flex p-1 ">
        <div class="w-4/5  h-12">
            <a href="/space-home" class="h6">
                Vos activités
            </a >
        </div>
        <div class="w-1/5  h-12">
            <p><span>prenom</span> nom </p>
        </div>
        <div class="w-1/5 h-12">
            <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="../../../assets/img/man.png" alt="user photo">
            </button>
        </div>
    </div>
