<div class="container-fluid">
    <div class="row p-5 section-card  d-flex flex-sm-column flex-md-row flex-lg-row justify-content-between">
        <div class="card-x col-sm-12 col-md-4 col-lg-4">
            <div class="card d-flex flex-column justify-content between carte mt-3">
                <div class="row icone p-2 ">
                    <img src="../../../assets/img/suivre.png" alt="">
                </div>
                <div class="row title p-2 mt-4">
                    <h3 class="h3">
                        Suivre <br> Cours
                    </h3>
                </div>
                <div class="row text p-2">
                    <p>
                        Créer un compte et accéder gratuitement
                         a tous les cours. Aider les créateurs 
                         à s’auto évaluer en ajoutant ou noter 
                         les cours, afin qu’on puisse battir
                        ensemble un temple de savoir virtuel
                        d’une  haut qualité Vous pouvez aussi 
                        vous inscrire sur les évènements partagés pour y participer
                    </p>
                </div>
            </div>
        </div>
        <div class="card-x col-sm-12 col-md-4 col-lg-4">
            <div class="card d-flex flex-column justify-content between carte mt-3">
                <div class="row icone p-2">
                    <img src="../../../assets/img/share.png" alt="">
                </div>
                <div class="row title p-2 mt-4">
                    <h3 class="h3">
                        Suivre <br> Cours
                    </h3>
                </div>
                <div class="row text p-2">
                    <p>
                        Chaque utilisateur peut partager des événements. 
                        Cependant les événements qui seront validé par l’administrateurs 
                        seront sans doute être prienté vers l’informatique et la technologie
                    </p>
                </div>
            </div>
        </div>
        <div class="card-x col-sm-12 col-md-4 col-lg-4">
            <div class="card d-flex flex-column justify-content between carte mt-3">
                <div class="row icone p-2">
                    <img src="../../../assets/img/partage.png" alt="">
                </div>
                <div class="row title p-2 mt-4">
                    <h3 class="h3">
                        Suivre <br> Cours
                    </h3>
                </div>
                <div class="row text p-2">
                    <p>
                        Avant de pouvoir  partager un cours,
                         il va falloir faire une demande à l’admin, 
                         qui va a son tours étudier et valider ou non
                          la demande. Une fois validé vous aurez le rôle 
                          créateurs et un espace pour rédiger, partager,
                           évaluer et faire le suivi de votre cours
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>